@media (max-width: 768px) {
  #root {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .skills-grid {
    justify-content: center;
  }

  
}


@media (hover: none) and (pointer: coarse) {
  .experience-card:hover,
  .experience-card.expandable:hover {
    transform: none !important;
    background: rgba(255,255,255,0.04) !important;
    height: auto !important;
  }

  .experience-card.expandable::after {
    display: none !important;
  }

  .experience-card.expandable {
    height: auto !important;
    transform: none !important;
  }

}
@media (max-width: 768px) {
  .tap-pulse {
    left: auto;
    right: 10%;
    top:30%;
     width: 35px;
  height: 35px;

  }
}

@media (max-width: 768px){
  .about-heading{
    margin-top: -7rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




@media (max-width: 768px) {
  .hero-actions {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 1rem !important;
  }
}



/*conact*/
@media (max-width: 768px) {
  .contact-layout {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    padding: 0 1.5rem;
  }
.contact-text{
  font-size: 1.6rem;
  text-align: left;
}

.contact-links{
  margin-right: 2rem;
}
  .contact-links,
  .contact-form {
    min-width: 320px;
    width: 100%;
  }

  .contact-form {
    margin-top: 1rem;
    
  }
}


@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
  }

  .section {
    padding: 6rem 2rem;
  }
}
