* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7c7cff0f;
  backdrop-filter: blur(10px);
  z-index: 9999;
  font-family: "Merriweather";
}

.footer {
  margin-top: 6rem;
  padding: 2rem 1.5rem;
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.6;
  border-top: 1px solid rgba(255,255,255,0.1);
}



body {
  font-family: Inter, system-ui, sans-serif;
  background: radial-gradient(circle at top, #151515, #0a0a0a);
  color: #f5f5f5;
  line-height: 1.6;


}
body::before {

  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at 90% 95%,  #7c7cff10, transparent 45%),
    radial-gradient(circle at 80% 90%,  #7c7cff31, transparent 40%);
  filter: blur(80px);
  animation: fogMove 25s linear infinite alternate;
  pointer-events: none;
  z-index: -1;
}



@keyframes floatGlow {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(40px);
  }
}



main {
  padding-top: 80px;
}


.logo {
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}


.nav-links button {
  background: none;
  border: none;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Merriweather";
}

.nav-links button:hover {
  opacity: 0.7;
}


/* HERO */
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: transparent;
  /*background: linear-gradient(
    120deg,
    #0a0a0a,
    #111111 40%,
    #0a0a0a
  );*/
}

.hero-content {
  max-width: 900px;
}

.hero-name {
  font-size: clamp(4rem, 12vw, 7rem);
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 1;
  font-family: "Ahsing", sans-serif;
  text-shadow: 2px 2px 4px #7c7cffd7;

}


.hero-tagline {
  margin-top: 1.5rem;
  max-width: 600px;
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.906);
  font-family: "Merriweather";
}

.hero-tagline span {
  color: #7c7cff;
}  

.hero-actions {
  margin-top: 2.5rem;
  
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero-location {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 1.5rem;
}



.project-btn {
  background: #7c7cff;
  color: #0a0a0a;
  padding: 0.9rem 1.6rem;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: "Merriweather";
}

.project-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 30px rgba(124, 124, 255, 0.4);
  
}

.resume-btn {
  padding: 0.9rem 1.6rem;
  border-radius: 999px;
  border: 1px solid rgba(124, 124, 255, 0.4);
  text-decoration: none;
  color: white;
    font-family: "Merriweather";

}
.resume-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 30px rgba(124, 124, 255, 0.4);
}




.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  padding: 0.6rem;
  transition: transform 0.25s ease, background 0.25s ease;
  height: 550px;
  width: 360px;
  border: 1px solid rgba(255,255,255,0.08);
  font-family: "Merriweather";

}


.project-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 50px rgba(0,0,0,0.35);

}

.project-card h3 {
  margin-bottom: 0.5rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}



.skills-grid {
    display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 1.5rem;
}


.skill-card {
  height: 240px;
  padding: 1.4rem;
  border-radius: 14px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.08);
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.25s ease, background 0.25s ease;
  font-family: "Merriweather";
}

.skill-card:hover {
  transform: translateY(-5px);
  background: rgba(255,255,255,0.08);
}

/* TAGS */

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.skill-tags span {
  font-size: 0.75rem;
  padding: 0.35rem 0.7rem;
  border-radius: 999px;
  background: rgba(124, 124, 255, 0.15);
  color: #bdbdff;
  border: 1px solid rgba(124, 124, 255, 0.25);
}



/* ABOUT LAYOUT */

.about-layout {
  display: grid;
  grid-template-columns: 220px minmax(0, 1fr);
  gap: 3rem;
}

 .about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem; 
  justify-self: center;
}

.about-right > * {
  max-width: 700px;
  width: 100%;
}

.about-left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}  

.about-heading {
  font-size: 1.07rem;
  max-width: 650px;
  margin-bottom: 2rem;
  font-family: "Merriweather";
  font-weight: normal;
}  

.about-heading span {
  color: #7c7cff;
}  


.experience-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 780px;
  max-height: 1000px;
  font-family: "Merriweather";

}

/* CARD SIZE CONTROL */
.experience-card {
  height: 300px;       /* ← controls height */
  padding: 1.4rem;
  border-radius: 14px;
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.25s ease, background 0.25s ease;
  

}


.summary {
  font-size: 0.9rem;
}

.experience-card.expandable::after {
  content: "";
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(20,20,40,0.9)
  );
  pointer-events: none;

}

.experience-card.expandable:hover::after {
  opacity: 0;
}

.period {
  align-self: flex-start;
  padding: 0.25rem 0.6rem;
  font-size: 0.7rem;
  border-radius: 999px;
  margin-bottom: 0.4rem;
  background: rgba(124,124,255,0.15);
  color: #cfcfff;

}

/* SKILLS TAGS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: auto;
}

.skill {
  padding: 0.25rem 0.6rem;
  font-size: 0.7rem;
  border-radius: 999px;
  font-family: "Merriweather";
  
  background: rgba(124,124,255,0.15);
  color: #cfcfff;
  border: 1px solid rgba(124,124,255,0.25);
}

.experience-card.expandable {
  height: 300px;
  overflow: hidden;
  transition: height 0.35s ease, transform 0.25s ease;
}

/* EXPANDED HEIGHT */
.experience-card.expandable:hover {
  height: 495px; /* ← controls how much is revealed */
  transform: translateY(-6px);
}

.full-description {
  margin-top: 0.8rem;
  opacity: 0;
  max-height: 0;
  transition: opacity 0.25s ease;
  font-size: 0.9rem;
  line-height: 1.5;
}

.experience-card.expandable:hover .full-description {
  opacity: 1;
}


.experience-card:hover {
  transform: translateY(-6px);
  background: rgba(255,255,255,0.08);
}


.experience-card h4 {
  font-size: 1.1rem;
    margin-bottom: 0.3rem;

}

.experience-card span {
  font-size: 0.75rem;
}

.experience-card p {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  opacity: 0.85;
}





/*CONATCT SECTION*/
.contact-section {
  padding: 6rem 1.5rem;
}

.contact-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  margin-top: 3rem;
  align-items: flex-start;
}

/* LEFT */

.contact-text {
  font-size: 1.7rem;
  font-family: "Merriweather";
  line-height: 1.3;
  margin-bottom: 2rem; /*gör sectionen längre*/
  
  
}
.contact-text span {
  color: #7c7cff;
}  

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}





.contact-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 2rem;
}

.contact-links a {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1px solid rgba(255,255,255,0.2);
  transition: background 0.2s ease;
  font-family: "Merriweather";
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: #bdbdff;

}

.contact-links a:hover {
  color: #7c7cff;
}

.email-copy {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  font-weight: 500;
  opacity: 0.85;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-size: 0.8rem;
  border: 1px solid rgba(255,255,255,0.2);
  transition: background 0.2s ease;
  font-family: "Merriweather";
  color: #b3b3f4d7;
  
}

.email-copy:hover {
  background: rgba(124,124,255,0.15);
}

/* FORM */

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 0.75rem 1rem;
  border-radius: 10px;
  color: white;
  font-family: "Merriweather";
}

.contact-form button {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  background: #7c7cff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family: "Merriweather";
}

.contact-form button:hover {
  transform: translateY(-2px);
}

.contact-window {
  background: rgba(20, 20, 20, 0.65);
  backdrop-filter: blur(14px);
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.12);
  box-shadow: 0 30px 80px #7c7cff6f;
  overflow: hidden;
  max-width: 440px;
}

.window-header {
  display: flex;
  gap: 0.5rem;
  padding: 0.8rem 1rem;
  background: rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid rgba(114, 37, 37, 0.08);
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dot.red {
  background: #ff5f57;
}

.dot.yellow {
  background: #febc2e;
}

.dot.green {
  background: #28c840;
}


.contact-window .contact-form {
  padding: 1.5rem;
}



/* GLOBAL SECTION SYSTEM */

section {
  padding: 6rem 1.5rem;
  max-width: 1200px
}

.section-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.section-title {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 3rem;
  line-height: 1.1;
  font-family: "Ahsing", sans-serif;
  
  letter-spacing: 0.04em;
  text-shadow: 2px 2px 4px #7c7cffd7;
}

.project-image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.project-image.in-progress img {
  filter: blur(6px) brightness(0.8);
  transform: scale(1.05);
}

.overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: rgba(73, 71, 71, 0.409);
  color: #cfcfff;

  z-index: 2;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  margin-top: 0.6rem;
}

.project-tech span {
  font-size: 0.73rem;
  padding: 0.25rem 0.6rem;
  border-radius: 999px;
  background: rgba(124,124,255,0.15);
  color: #cfcfff;
  border: 1px solid rgba(124,124,255,0.25);
}

.project-title {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.project-github {
  margin-top: auto;
  font-size: 1.3rem;
  color: #bdbdff;}

.project-github:hover {
  color: #7c7cff;
  transform: translateY(-2px);

}
/* INTERACTIVE MOUSE GLOW */

/*.mouse-glow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.mouse-glow::before {
  content: "";
  position: absolute;
  width: 550px;
  height: 550px;
  background: radial-gradient(
    circle,
    rgba(124,124,255,0.18),
    rgba(124,124,255,0.08),
    transparent 20%
  );
  transform: translate(-50%, -50%);
  left: var(--x, 50%);
  top: var(--y, 50%);
  transition: left 0.02s linear, top 0.02s linear;
}
*/

.sparkle {
  position: fixed;
  width: 8px;
  height: 8px;
  background: radial-gradient(circle, #7c7cff, transparent 60%);
  border-radius: 50%;
  pointer-events: none;
  animation: sparkle-fade 0.6s forwards;
  z-index: 2;
}

@keyframes sparkle-fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

#effects-layer {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

@font-face {
  font-family: "Ahsing";
  src: url("/Fonts/ahsing.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}